autopep8
bcrypt
blinker
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pycodestyle
PyJWT
pymongo
python-dotenv
requests
urllib3
Werkzeug
